ppc405_?
microblaze_?
implementation
synthesis
hdl
report
blkdiagram
fs-boot
__xps
*.log
*.svf
*.scr
*.cmd
*.bak
*~
*.elf
*.ace
#
*.bld
*.gyd
*.jed
*.mfd
*.nga
*.ngd
*.pad
*.pnx
*.rpt
*.tim
*.tspec
*.vm6
*.xml
*_build.xml
*.cmd_log
*.lso
*.ngc
*.ngr
*.prj
*.stx
*.syr
*.udo
*.xst
_ngo/
*_html/
*_ngdbuild.xrpt
*_pad.csv
*_wave.fdo
*_xst.xrpt
