CONFIG PART = xc6slx16-3-csg324;

Net ALARM LOC=U16  |  IOSTANDARD=LVCMOS33;

Net INCR LOC=C9  |  IOSTANDARD=LVCMOS33;
Net RESET LOC=A8  |  IOSTANDARD=LVCMOS33;

Net MODE LOC=T10  |  IOSTANDARD=LVCMOS33;

Net SEGMASK<0> LOC=T17  |  IOSTANDARD=LVCMOS33;
Net SEGMASK<1> LOC=T18  |  IOSTANDARD=LVCMOS33;
Net SEGMASK<2> LOC=U17  |  IOSTANDARD=LVCMOS33;
Net SEGMASK<3> LOC=U18  |  IOSTANDARD=LVCMOS33;
Net SEGMASK<4> LOC=M14  |  IOSTANDARD=LVCMOS33;
Net SEGMASK<5> LOC=N14  |  IOSTANDARD=LVCMOS33;
Net SEGMASK<6> LOC=L14  |  IOSTANDARD=LVCMOS33;
Net SEGMASK<7> LOC=M13  |  IOSTANDARD=LVCMOS33;

Net COLMASK<3> LOC=P17  |  IOSTANDARD=LVCMOS33;
Net COLMASK<2> LOC=P18  |  IOSTANDARD=LVCMOS33;
Net COLMASK<1> LOC=N15  |  IOSTANDARD=LVCMOS33;
Net COLMASK<0> LOC=N16  |  IOSTANDARD=LVCMOS33;

Net CLK LOC=V10  |  IOSTANDARD=LVCMOS33;

Net "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
