//! **************************************************************************
// Written by: Map M.81d on Fri May 04 17:10:58 2012
//! **************************************************************************

SCHEMATIC START;
COMP "segmask<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "mode" LOCATE = SITE "T10" LEVEL 1;
COMP "segmask<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "segmask<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "segmask<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "segmask<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "alarm" LOCATE = SITE "U16" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "colmask<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "colmask<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "colmask<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "colmask<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "incr" LOCATE = SITE "C9" LEVEL 1;
COMP "reset" LOCATE = SITE "A8" LEVEL 1;
COMP "segmask<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "segmask<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "segmask<2>" LOCATE = SITE "U17" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "time_pulser/delayed_input" BEL
        "alarm_pulser/delayed_input" BEL "alarm_counter/hourh/r_0" BEL
        "alarm_counter/minh/r_0" BEL "alarm_counter/minm/r_0" BEL
        "alarm_counter/hourh/r_2" BEL "alarm_counter/hourh/r_1" BEL
        "alarm_counter/hourh/r_3" BEL "alarm_counter/minh/r_3" BEL
        "alarm_counter/minh/r_2" BEL "alarm_counter/minh/r_1" BEL
        "alarm_counter/minm/r_3" BEL "alarm_counter/minm/r_2" BEL
        "alarm_counter/minm/r_1" BEL "time_counter/hourh/r_0" BEL
        "time_counter/minh/r_0" BEL "time_counter/minm/r_0" BEL
        "time_counter/hourh/r_2" BEL "time_counter/hourh/r_1" BEL
        "time_counter/hourh/r_3" BEL "time_counter/minh/r_3" BEL
        "time_counter/minh/r_2" BEL "time_counter/minh/r_1" BEL
        "time_counter/minm/r_3" BEL "time_counter/minm/r_2" BEL
        "time_counter/minm/r_1" BEL "alarm_counter/hourm/r_0" BEL
        "time_counter/hourm/r_0" BEL "time_counter/hourm/r_1" BEL
        "time_counter/hourm/r_2" BEL "alarm_counter/hourm/r_3" BEL
        "alarm_counter/hourm/r_1" BEL "alarm_counter/hourm/r_2" BEL
        "time_counter/hourm/r_3" BEL "clk_prescaler_counter/r_0" BEL
        "clk_prescaler_counter/r_3" BEL "clk_prescaler_counter/r_1" BEL
        "clk_prescaler_counter/r_2" BEL "clk_prescaler_counter/r_6" BEL
        "clk_prescaler_counter/r_4" BEL "clk_prescaler_counter/r_5" BEL
        "clk_prescaler_counter/r_9" BEL "clk_prescaler_counter/r_7" BEL
        "clk_prescaler_counter/r_8" BEL "clk_prescaler_counter/r_12" BEL
        "clk_prescaler_counter/r_10" BEL "clk_prescaler_counter/r_11" BEL
        "clk_prescaler_counter/r_15" BEL "clk_prescaler_counter/r_13" BEL
        "clk_prescaler_counter/r_14" BEL "clk_prescaler_counter/r_16" BEL
        "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

